
{% extends 'account/base_account.html.twig' %}


{% block main %}
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li>
                            <a class="active" href="#">Mot de passe</a>
                        </li>
                    </ul>
                </div>

            </div>




            <div class="table-data">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="todo">
                    <div class="head">
                        <h3>Changer de mot de passe</h3>
                    </div>
                    <h1>Modifier mon mot de passe</h1>
                    <hr>
                    {% if notification %}
                        <div class="alert alert-info">{{ notification }}</div>
                    {% endif %}
                    {{ form(form) }}
                    <hr>


                </div>
            </div>
        </main>
        <!-- MAIN -->
    {% block javascripts %}
        {{ parent() }}
        <script>
            $(function(){
                $('ul.side-menu li').removeClass('active');
                $('ul.side-menu li:nth-child(3)').addClass('active');
            })
        </script>
    {% endblock %}
{% endblock %}
