{% extends 'account/base_account.html.twig' %}


{% block main %}
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li>
                            <a class="active" href="#">Panier</a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-calendar-check' ></i>
                    <span class="text">
						<h3 class="number_owner_beat">1020</h3>
						<p>Nombre de beat Propriétaire</p>
					</span>
                </li>
                <li>
                    <i class='bx bxs-group' ></i>
                    <span class="text">
						<h3 class="number_no_owner_beat"></h3>
						<p>Nombre de beats en attente d'achat</p>
					</span>
                </li>
                <li>
                    <i class='bx bxs-dollar-circle' ></i>
                    <span class="text">
						<h3>€<span class="price_in_basket">2543</span></h3>
						<p>Montant total du panier</p>
					</span>
                </li>
            </ul>


            <div class="table-data">
                <div class="order">
                    <div class="head" style="position: relative">
                        <h3>Beat Propriétaire</h3>
                        <a href="#" class="btn-download">
                            <i class="bx bxs-cloud-download "></i>
                            <span class="text download_selected_pdf">Download PDF Contrat</span>
                        </a>

                        <a href="#" class="btn-download_album">
                            <i class="bx bxs-cloud-download "></i>
                            <span class="text download_selected_album">Download Album</span>
                        </a>

                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Date Commande</th>
                            <th>Nom du Produit</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for album in albumsChoices %}
                            <tr>
                                <td>
                                    <img src="{{ asset('uploads/'~ album.image) }}">

                                </td>

                                <td>{{ album.createdat|date('Y-m-d H:i:s') }}</td>
                                <td>{{ album.title }}</td>
                                <td>€{{ album.price }}</td>
                                <td>
                                    <div class="form-check" style="margin-left: 14px">
                                        <input data-id ="{{ album.id }}" class="form-check-input" type="radio" value="" name="contrat" >
                                    </div>
                                </td>
                                <!--<td><span class="status completed">Completed</span></td>  -->
                            </tr>
                            <div style="display: none" class ="list_instrumental">
                                <ul class="list-group" id = "{{ "album_"~album.id }}" data-album ="{{"Album "~album.title }}">
                                    {% set audios = album.getInstrumentals %}

                                    {% for audio in audios %}
                                        <li style="display: flex;justify-content: space-between" class="list-group-item list-group-item-action" ><span class="audio-title">{{ audio.getTitre }}</span> <i data-namealbum = "{{ album.getTitle()  }}"  data-id = "{{ audio.id }}" style="cursor: pointer;" class='bx bx-download download_audio'></i></li>

                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="todo">
                    <div class="head">
                        <h3>Beats dans votre panier</h3>
                        <!-- Button trigger modal -->

                        <i class='bx bx-plus by_panier gotToPaid_class' style="font-size: 20px;"></i>
                    </div>
                    <ul class="todo-list">
                        {% for albumsInCart in albumsInCarts %}
                            <li data-id="{{ albumsInCart.id }}" data-name = "{{ albumsInCart.title }}"  data-price = "{{ albumsInCart.price }}" class="not-completed" style="position: relative">
                                <p style="text-align: center;margin-bottom: 0">{{ albumsInCart.title }}</p>

                                <span class="price_album">{{  albumsInCart.price }}</span>
                                <i class='bx bx-dots-vertical-rounded todo_list' ></i>
                                <ul class="dropdown-menu" style="background-color: white;position: absolute;right: -20px;bottom: -70px;display: none">
                                    <li class="select_choice" style="background-color: white">Selectionner</li>
                                    <a href="{{ path('delete_to_cart',{'id' : albumsInCart.id }) }}"><li class="delete_choice" style="background-color: white;color: red">Delete</li></a>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </main>

    <!-- Button trigger modal -->
    <button style="display: none" type="button" class="btn btn-primary modal_class_2" data-toggle="modal" data-target="#exampleModal2">
        Launch demo modal 2
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title title_album_modal" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body list_instrumental_body">

                </div>

            </div>
        </div>
    </div>
        <!-- MAIN -->
    {% block javascripts %}
        {{ parent() }}
        <script>
            $(function(){
                $('ul.side-menu li').removeClass('active');
                $('ul.side-menu li:nth-child(1)').addClass('active');

            })
        </script>
    {% endblock %}
{% endblock %}
