
{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}
{% block head %} {% endblock %}
{% block stylesheets %}
    {{ parent() }}
<style>

    @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    }


    .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }

    .login {
    width: 500px;
    padding: 30px;
    padding-top: 156px;
    }

    .login__field {
    padding: 20px 0px;
    position: relative;
    margin-left: 6rem;
    }

    .login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
    }

    .login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    }

    .login__input:active,
    .login__input:focus,
    .login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
    }



    .alert-danger {
        background-color: black;
        color: red;
        position: absolute;
        top: 5rem;
        width: 30rem;
        border: none;
    }
    .alert-info {
        background-color: black;
        color: #7875B5;
        position: absolute;
        top: 3rem;
        width: 30rem;
        border: none;
    }

    body {
        background-image: url('{{ asset('assets/img/login.jpeg') }}') !important;
    }
    input {
        color: white;
    }
    .logo_img {
        width: 80px; /* Largeur souhaitée de l'image */
        height: 80px; /* Hauteur souhaitée de l'image */
        border-radius: 50%; /* Pour arrondir les coins de l'image */
        object-fit: cover; /* Pour s'assurer que l'image est correctement ajustée*/
        margin-top : 10px;
        position:absolute;
        top: 1rem;
        left: 2rem;
    }
    .list-group-item:hover {
        font-size: 18px;
        color: #aa1111 !important;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <a href="{{ path('app_home') }}" class="brand">
        <img src="{{ asset('logo/Beats.jpeg') }}" alt="une image" class="logo_img" style="width: 6rem;height: 6rem;border-radius: 3rem">
    </a>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <form class="login" method="post">

        <div class="login__field">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="login__input" autocomplete="email" placeholder="Email" required autofocus>
        </div>
        <div class="login__field">
            <input type="password" name="password" id="inputPassword" class="login__input" autocomplete="current-password" placeholder="Mot de passe" required>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="list-group" style="text-align: center;margin-top: 4rem; background-color: black !important;">
            <button class="list-group-item list-group-item-action" type="submit" style="color: white;background-color: black !important;">
                Se connecter
            </button>

            <a class= "list-group-item list-group-item-action link-connection-google" href="{{ path('connect_google') }}" style="color: white;background-color: black !important;">
                <i class='bx bxl-google'></i> Continuer avec google
            </a>
            <a href="{{ path('register') }}" class="list-group-item list-group-item-action" style="background-color: black !important; color: white">
                Enrégistrer vous ici <i class='bx bxs-hand-right'></i>
            </a>
            <a href="{{ path('reset_password') }}" class="list-group-item list-group-item-action" style="background-color: black !important; color: white" >
                Mot de passe oublié <i class='bx bx-question-mark'></i>
            </a>
        </div>

    </form>
</div>


{% endblock %}
{% block javascripts %}
    <script>

    </script>
{% endblock %}