{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
     <style>
         .music-player {
             margin-bottom: 2rem;
         }
         .active {
             background-color: #393636 !important;
         }
     </style>
{% endblock %}
{% block head %}
    {{ parent() }}
    <article class="screen">
        <input type="checkbox" value="None" id="magicButton" name="check" />
        <label class="main" for="magicButton"></label>

        <div class="coverImage"></div>
        <div class="search"></div>
        <div class="bodyPlayer"></div>

        <table class="list">
           {% set t = 1 %}
            {% for instrumental in instrumentals %}
                <tr class="song {{ "song_"~ t }} {{ t==1?'active':'' }}" data-song="{{ asset("audio/"~ instrumental.getFichierAudio) }}" data-piste="{{ t }}" data-id ="{{ instrumental.id }}">
                    <td class="nr"><h5>{{ t }}<h5></td>
                    <td class="title"><h6 style="color: #ff564c;">{{ instrumental.titre }}<h6></td>
                    <td  class="length "><h5 class="duration_sound"> <h5></td>
                    <td><input type="checkbox" class="heart"  /><label class="zmr label_heart" for="heart" ></label></td>
                </tr>
                {% set t = t + 1 %}
            {% endfor %}

        </table>

        <div class="shadow"></div>

        <div class="bar"></div>

        <div class="info">
            <h4>{{ album.title }}</h4>
            <h3>Prix album:  <span style="color:#4f4fe5">{{ album.price}} $</span></h3>
            <!-- ici mettre une condition pour dire que le produit est déjâ ajouter au panier -->
            <i class="fa fa-cart-arrow-down panier_show" aria-hidden="true" style='font-size:24px; display:none'></i>
            <div class="show_card" style ="display: none; margin-top: 6px; "> <a href="{{ path('app_show_card') }}" class="btn btn-primary" style="font-size: 11px" > Voir mon panier <i class="fa fa-arrow-right"></i> </a></div>
        </div>
        <audio preload="auto" id="audio" controls>
            <source src="{{ asset("audio/"~ instrumentals[0].getFichierAudio)}}">
        </audio>


        <div class="music-player" style = "display: none">
            <div class="progress-wrapper">
                <div class="progress-bar"></div>
            </div>
        </div>
        <table class="player">
            <td><input type="checkbox" id="backward"/><label class="backward" for="backward"></label></td>
            --<td><input type="checkbox" id="play" title="Play"/><label class="play" for="play"></label></td>
            <td><input type="checkbox" id="forward"/><label class="forward" for="forward"></label></td>
        </table>

        <table class="footer">
            <td><input type="checkbox" id="love" checked /><label class="love" for="love"></label></td>
            <td><input type="checkbox" id="shuffle"/><label class="shuffle" for="shuffle"></label></td>
            <td><input type="checkbox" id="repeat" checked /><label class="repeat" for="repeat"></label></td>
            <td><input type="checkbox" id="options"/><label class="options" for="options"></label></td>
        </table>

        <div class="current"><h2>STRESSED OUT</h2></div>


    </article>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"
            integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>
    <script>
        $(function(){
            var progressBar = $('.progress-bar');
            var audioPlayer;
            var progressWrapper = $('.progress-wrapper');
            let toggle = document.querySelector(".toggle");
            let body = document.querySelector("body");

            let tl = gsap.timeline();

            toggle.addEventListener("click", function () {
                if (body.classList.contains("open")) {
                    //Fermer le menu.
                    body.classList.remove("open");
                    tl.to(".sep", {
                        duration: 0,
                        height: 0,
                    });

                    tl.to(".sep__icon", {
                        duration: 0,
                        opacity: 0,
                    });
                } else {
                    //Ouvrir le menu.
                    body.classList.add("open");

                    tl.to(".sep", {
                        duration: 0.75,
                        height: "100%",
                        delay: 0.5,
                    });

                    tl.to(".sep__icon", {
                        opacity: 1,
                        duration: 0.25,
                        delay: -0.5,
                    });

                    tl.from(
                        ".menu__left__inner__item",
                        {
                            y: 40,
                            opacity: 0,
                            stagger: 0.25,
                        },
                        "<-0.5"
                    );

                    tl.from(
                        ".menu__right__inner__item",
                        {
                            y: 40,
                            opacity: 0,
                            stagger: 0.25,
                        },
                        "<0.5"
                    );
                }
            });


            var audio = document.getElementById('audio');
            var playpause = document.getElementById("play");
            var duration;
            var tabSound = {}
            var indexSound = 1
            $('.song').each(function(){
                tabSound[$(this).data('piste')] = $(this).data('song')
            })
            $.each(tabSound,function (key,val){
                if(val == undefined) {
                    tabSound.splice(key,1)
                }
            })

            function togglePlayPause() {
                if (audio.paused || audio.ended) {
                    playpause.title = "Pause";
                    audio.play();
                } else {
                    playpause.title = "Play";
                    audio.pause();
                }
            }
            $('#magicButton').on('click',function (){
                $('.panier_show').toggle()
            })
            $('#play').on('click',function() {
                togglePlayPause()
            })
            $('.song').on('click',function(e){
                //label_heart
                console.log(e.target.classList)
                if($.inArray('label_heart',e.target.classList) !== -1) {
                    var element = $(this).find('.heart')
                    //$(this).find('.heart').prop('checked',true)
                    if(element.is(':checked')) {
                        ajax($(this).data('id'),false);
                        $(this).find('.heart').prop('checked',false)
                        return
                    }
                    else {
                        ajax($(this).data('id'),true);
                        $(this).find('.heart').prop('checked',true)
                        return
                    }



                }
                $(".song").removeClass("active");
                $(this).addClass("active");
                progressBar.width(0 + '%');
                $('.song_'+indexSound).removeClass('active')
                indexSound = $(this).data('piste')
                goTo(tabSound[indexSound])
            })
            $('.panier_show').on('click',function () {
                $(this).hide('slow')
                $('.show_card').show('slow')
            })
        $('#forward').on('click',function () {
            $('.song_'+indexSound).removeClass('active')
            indexSound++
            if(tabSound.hasOwnProperty(indexSound)) {
                goTo(tabSound[indexSound])
            }
            else {
                indexSound--
            }
        })
        $('#backward').on('click',function () {
            $('.song_'+indexSound).removeClass('active')
            indexSound--
            if(tabSound.hasOwnProperty(indexSound)) {
                goTo(tabSound[indexSound])
            }
            else {
                indexSound++
            }
        })

            function goTo(piste = null) {
                $('.song_'+indexSound).addClass('active')
                $("#audio source").prop("src", piste);
                $("#audio")[0].load();
                $("#audio")[0].play();

                $('#play').prop('checked',true)
            }
            $('#magicButton').on('click',function(){
                $('.music-player').toggle()
            })

            // Mise à jour de la barre de progression et du temps de lecture
            function updateProgress() {
                currentTime = audio.currentTime;
                duration = audio.duration;
                if (!isNaN(duration)) {
                    var percent = currentTime / duration * 100;
                    progressBar.width(percent + '%');
                }
                if(currentTime == duration) {
                    $('.song_'+indexSound).removeClass('active')
                    indexSound++
                    pause()
                    if( tabSound.hasOwnProperty(indexSound)) {
                        goTo(tabSound[indexSound])
                    }
                    else {
                        numeroAudio--
                        audio.pause()
                    }

                }
            }
            // Mettre à jour la barre de progression et le temps de lecture toutes les 500 millisecondes
            setInterval(updateProgress, 500);

            // Déplacer la barre de progression au clic sur progress-wrapper si une chanson est sélectionnée
            progressWrapper.on('click', function (e) {

                if (isSongSelected() && !isNaN(duration)) {
                    var pos = (e.pageX - $(this).offset().left) / $(this).width();
                    audio.currentTime = pos * duration;
                    updateProgress();
                }
            });
            // Vérifier si une chanson est sélectionnée
            function isSongSelected() {
                return $('source').src !== "";
            }
            function ajax(id,bool) {
                console.log(id)
                console.log(bool)
                $.ajax({
                    url: '/votre-route',
                    type: 'POST',
                    data: {
                        id: id,
                        checked: bool
                    },
                    success: function(response) {
                        // Réponse du contrôleur Symfony
                        console.log(response);
                    },
                    error: function(xhr, status, error) {
                        // Gestion des erreurs
                        console.error(error);
                    }
                });
            }
        })

    </script>
{% endblock %}



