{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}
{% block head %} {% endblock %}
{% block stylesheets %}
{{ parent() }}
<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Raleway, sans-serif;
    }



    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }



    .login {
        width: 500px;
        padding: 30px;
        padding-top: 156px;
    }

    .login__field {
        padding: 20px 0px;
        position: relative;
        margin-left: 6rem;
    }

    .login__icon {
        position: absolute;
        top: 30px;
        color: #111;
    }

    .login__input {
        border: none;
        border-bottom: 2px solid #111;
        background: none;
        padding: 10px;
        padding-left: 24px;
        font-weight: 700;
        width: 75%;
        transition: .2s;
    }

    .login__input:active,
    .login__input:focus,
    .login__input:hover {
        outline: none;
        border-bottom-color: #111;
    }

    .login__submit {
        background: #fff;
        font-size: 14px;
        margin-top: 30px;
        padding: 16px 20px;
        border-radius: 26px;
        border: 1px solid #D4D3E8;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        width: 60%;
        color: #111;
        box-shadow: 0px 2px 2px #111;
        cursor: pointer;
        transition: .2s;
        margin-left: 6rem;
    }

    .login__submit:active,
    .login__submit:focus,
    .login__submit:hover {
        border-color: #111;
        background-color: #aa1111;
        outline: none;
    }

    .button__icon {
        font-size: 24px;
        margin-left: auto;
        color: #111;
    }


    .alert-error {
        background-color: #c8a7a7;
        color: red;
        position: relative;
        top: 10rem;
        width: 30rem;
        border-radius: 40px 10px;
    }
    .logo_img {
        width: 80px; /* Largeur souhaitée de l'image */
        height: 80px; /* Hauteur souhaitée de l'image */
        border-radius: 50%; /* Pour arrondir les coins de l'image */
        object-fit: cover; /* Pour s'assurer que l'image est correctement ajustée*/
        margin-top : 10px;
        position:absolute;
        top: 1rem;
        left: 2rem;
    }
</style>
{% endblock %}
{% block body %}
    <div class="container">

        <a href="{{ path('app_home') }}" class="brand">
            <img src="{{ asset('logo/Beats.jpeg') }}" alt="une image" class="logo_img" style="width: 6rem;height: 6rem;border-radius: 3rem">
        </a>
        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}






        <form class="login" method="{{ form.vars.method }}" action="{{ form.vars.action }}">
            {{ form_start(form) }}
            <div class="login__field">

                {{ form_widget(form.email, {'attr': {'class': 'login__input', 'placeholder': 'Email','novalidate' : 'novalidate'}}) }}
            </div>

            <div class="login__field">

                {{ form_widget(form.firstname, {'attr': {'class': 'login__input', 'placeholder': 'First Name' ,'novalidate' : 'novalidate'}}) }}
            </div>

            <div class="login__field">

                {{ form_widget(form.lastname, {'attr': {'class': 'login__input', 'placeholder': 'Last Name','novalidate' : 'novalidate'}}) }}
            </div>

            <div class="login__field">

                {{ form_widget(form.password, {'attr': {'class': 'login__input', 'placeholder': 'Password','novalidate': 'novalidate'}}) }}
                {{ form_errors(form.password) }}
            </div>

            <div class="login__field">

                <input type="password" name ="confirm_password" class="login__input form-control" placeholder="Confirmer le mot de passe">
            </div>

            <button class="button login__submit" type="submit">
                <span class="button__text">S'inscrire maintenant</span>
            </button>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
            crossorigin="anonymous"
    ></script>
<script>
$(function (){

    setTimeout(() => {

        $('.alert-error').hide('slow')
    },'3000')
})
</script>
{% endblock %}